<a href="https://colab.research.google.com/github/het-khatusuriya/ML/blob/main/d22ce166_dataframe_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color="purple"><h3 align="center">DataFrame Basics Tutorial</h3></font>

## **Dataframe is most commonly used object in pandas. It is a table like datastructure containing rows and columns similar to excel spreadsheet**

In [ ]:
import pandas as pd
# frm this we can make own data set whose name is weather_data.
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [33,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
#here we show the dataframe
df = pd.DataFrame(weather_data)
# df.to_csv("saved.csv")

In [ ]:
df.shape
#here we can shape dataframe as 6 rows and 4 column

(6, 4)

In [ ]:
df = pd.read_csv("weather_data.csv")
#here we can read the dataframe
df

          day  temperature  windspeed  event
0  01-01-2019           32          6   Rain
1  02-01-2019           35          7  Sunny
2  03-01-2019           28          2   Snow
3  04-01-2019           24          7   Snow
4  05-01-2019           32          4   Rain
5  06-01-2019           31          2  Sunny

In [ ]:
df.shape # rows, columns = df.shape
#from the shape method we get the shape of dataframe

(6, 4)

## <font color='blue'>Rows</font>

In [ ]:
#df.head()
df.head(3)
#from this we can find first 3 row of dataframe

          day  temperature  windspeed  event
0  01-01-2019           32          6   Rain
1  02-01-2019           35          7  Sunny
2  03-01-2019           28          2   Snow

In [ ]:
df # df.tail(2)
#show the dataframe

        day  temperature  windspeed  event
0  1/1/2017           33          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [ ]:
df[:4]
#here we do sliceing which has all rows and and 4 column

        day  temperature  windspeed  event
0  1/1/2017           33          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow

## <font color='blue'>Columns</font>

In [ ]:
df.columns
#here we can see the all column names

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [ ]:
df['day'] # or df.day
#from this method we can see the days column all data

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [ ]:
type(df['day'])
#from this we can find type of days column

pandas.core.series.Series

In [ ]:
df[['day','temperature']]
#from this we can find data of day and temperature

          day  temperature
0  01-01-2019           32
1  02-01-2019           35
2  03-01-2019           28
3  04-01-2019           24
4  05-01-2019           32
5  06-01-2019           31

## <font color='blue'>Operations On DataFrame</font>

In [ ]:
df['temperature'].min()
#from this method we can find min temperature of all data

24

In [ ]:
df[df['temperature']>32]
#from this we can find the temperature whose temp is >32

          day  temperature  windspeed  event
1  02-01-2019           35          7  Sunny

In [ ]:
df['day'][df['temperature'] == df['temperature'].max()] # Kinda doing SQL in pandas
#from this code we can find the days whose temp is max

1    02-01-2019
Name: day, dtype: object

In [ ]:
df[df['temperature'] == df['temperature'].max()] # Kinda doing SQL in temp is max
#from this we can find the all data whose

          day  temperature  windspeed  event
1  02-01-2019           35          7  Sunny

In [ ]:
df['temperature'].std() #Why we calculate std deviation?
#Standard deviation is important because it helps in understanding the measurements when the data is distributed

3.8297084310253524

In [ ]:
# df.describe()
df
#show the dataframe

        day  temperature  windspeed  event
0  1/1/2017           33          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

**Google pandas series operations to find out list of all operations**
http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html

## <font color='blue'>set_index</font>

In [ ]:
df.set_index('day')
#we set the day as a index

            temperature  windspeed  event
day
01-01-2019           32          6   Rain
02-01-2019           35          7  Sunny
03-01-2019           28          2   Snow
04-01-2019           24          7   Snow
05-01-2019           32          4   Rain
06-01-2019           31          2  Sunny

In [ ]:
#from this we can set the days and event as index and change in real dataframe
df.set_index(['day','event'], inplace=True)

In [ ]:
df

                  temperature  windspeed
day        event
01-01-2019 Rain            32          6
02-01-2019 Sunny           35          7
03-01-2019 Snow            28          2
04-01-2019 Snow            24          7
05-01-2019 Rain            32          4
06-01-2019 Sunny           31          2

In [ ]:
#here we can print the index data
df.index

MultiIndex([('01-01-2019',  'Rain'),
            ('02-01-2019', 'Sunny'),
            ('03-01-2019',  'Snow'),
            ('04-01-2019',  'Snow'),
            ('05-01-2019',  'Rain'),
            ('06-01-2019', 'Sunny')],
           names=['day', 'event'])

In [ ]:
df.loc['02-01-2019','Sunny']
#we can find all data from the give index

temperature    35
windspeed       7
Name: (02-01-2019, Sunny), dtype: int64

In [ ]:
df.reset_index(inplace=True)
df.head()
#from that reset the index and than we show the first 5 data from dataframe

          day  event  temperature  windspeed
0  01-01-2019   Rain           32          6
1  02-01-2019  Sunny           35          7
2  03-01-2019   Snow           28          2
3  04-01-2019   Snow           24          7
4  05-01-2019   Rain           32          4

In [ ]:
df.set_index('event',inplace=True) # this is kind of building a hash map using event as a key
#now we set the event as a index of dataframe
df

              day  temperature  windspeed
event
Rain   01-01-2019           32          6
Sunny  02-01-2019           35          7
Snow   03-01-2019           28          2
Snow   04-01-2019           24          7
Rain   05-01-2019           32          4
Sunny  06-01-2019           31          2

In [ ]:
df.loc['Snow']
#we find data whose index is snow

              day  temperature  windspeed
event
Snow   03-01-2019           28          2
Snow   04-01-2019           24          7